<ion-header>

  <ion-navbar>
    <ion-title>Tags</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [navPush]="tagEditPage">
        <ion-icon name="add" color="navigation"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ng-template #noItems>
    <!--TODO: MD Config-->
    <br>
    <div text-center sm-text-italics>Get started by adding a Tag.</div>
  </ng-template>

  <ion-list *ngIf="(items | async)?.length > 0; else noItems">

    <ion-item-sliding *ngFor="let item of (items | async)" [hidden]="isSearch && !isItemVisible(item)">
      <button ion-item detail-none [navPush]="tagEditPage" [navParams]="{'item': item}" >

        {{ item.name }}
        <!--TODO: Waiting for support in Soulments for count.-->
        <!--<ion-note item-end>{{ item.count?.length || 0 }} items</ion-note>-->

      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
